$stuffs-font-family: "stuffs-icons" !default;
$stuffs-font-path: "fonts" !default;

$stuffs-update: "\e925";
$stuffs-refresh: "\e926";
$stuffs-add_circle_outline: "\e927";
$stuffs-cancel_presentation: "\e921";
$stuffs-tools: "\e923";
$stuffs-info-outline: "\e924";
$stuffs-github: "\e920";
$stuffs-link: "\e922";
$stuffs-timer: "\e91f";
$stuffs-trophy: "\e91e";
$stuffs-package: "\e91c";
$stuffs-truck1: "\e91d";
$stuffs-check-circle: "\e917";
$stuffs-fast-delivery: "\e907";
$stuffs-check-square: "\e918";
$stuffs-check: "\e919";
$stuffs-home: "\e91a";
$stuffs-mail-list-subscribe: "\e91b";
$stuffs-basket: "\e900";
$stuffs-burger-menu: "\e901";
$stuffs-chat: "\e902";
$stuffs-claret-down: "\e903";
$stuffs-claret-left: "\e904";
$stuffs-claret-right: "\e905";
$stuffs-claret-up: "\e906";
$stuffs-email: "\e908";
$stuffs-facebook-f: "\e909";
$stuffs-half-star: "\e90a";
$stuffs-instagram: "\e90b";
$stuffs-location: "\e90c";
$stuffs-login: "\e90d";
$stuffs-phone: "\e90e";
$stuffs-reddit: "\e90f";
$stuffs-search: "\e910";
$stuffs-star-svg: "\e911";
$stuffs-telegram: "\e912";
$stuffs-three-dots-horizontal: "\e913";
$stuffs-three-dots-vertical: "\e914";
$stuffs-twitter: "\e915";
$stuffs-user: "\e916";

